{% extends "base.html" %}

{% block content %}
<table>
    <thread>
        <tr>
            <th>Name</th>
            <th>Number of Receipts</th>
        </tr>
    </thread>
    <tbody>
        {% for item in category %}
        <tr>
            <td> {{ item.name }}</td>
            <td> {{ item.receipts.all|length }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}